SELECT * FROM orders WHERE amount > 100;
SELECT name, salary FROM employees ORDER BY salary DESC;